 
 @font-face { 
     font-family: Quicksand;
     font-weight:normal;
     src: url("fonts/Quicksand_Light") format("opentype") ;
}

@font-face { 
     font-family: Quicksand;
     font-weight: bold;
     src: url("fonts/Quicksand-Book.otf") format("opentype") ;
}

table{
    border-collapse:collapse;
    background-color:#1b181e;
    margin: 25px 0;
    border:4px solid white;
}
td{
    text-align: left;
    border: inset;
    padding: 2px 10px 2px 10px;
    border-radius: 6px;
}



b {
    background-clip: content-box;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.small-img{
    width: 20%;
    display: block;
    margin: auto;
    
    
}

body {
    font-family:Quicksand, sans-serif;
    background-color: #1b181e;
    color: #ffffff;
    font-size: larger;
    margin: 25px;
    
}

a{
    text-decoration: none;
    display: inline-block;
}

p {
    border-radius: 8px 0;
    padding: 0 0 0 20px
}

h1 {
    color: #b488dd;
    padding: 25px;
    background-color: rgb(33, 26, 60);
    border-radius: 12px;
    text-align: center;
}



h2{
    color : #b9f65b;
    text-decoration: none;
    
}

h2 a {
    text-decoration: none;
    display: inline-block;
}

h3 {
    color: #6667b1;
    padding: 0 10px ;
}

.gray-box {
    background: linear-gradient(to bottom, #1b181e, #3a4e2d);;
    border-radius: 25px;
    color: #ffffff
    
    
}

hr {
    outline-style:double;
    outline-offset: 5px;
    border-radius: 7px;
    background-color: white;
    
}

.header{
    width: 100%;
    
}

form{
    padding: 26px;
    text-align: center;
}

input, textarea, button{
    width: 50%;
    margin-bottom: 28px;
}

button{
    background: linear-gradient(to top ,rgb(33, 26, 60), #8895dd);
    background-blend-mode: color;
    
    padding: 5px;
    color: antiquewhite
        
}

/* Navigation */

nav {
    background-color: #fff;
    font-weight: bold;
    position: fixed;
    width: 96.8%;
    border-radius: 25px 25px 25px 25px;
}

nav img{
    width: 42px;
    float: left;
    padding: 12px 25px;
}


nav ul{
    padding: 25px;
    float: left;
    margin: 0 0 0 26px;
    
}

nav li{
    display: inline-block;
    padding: 0 30px;
    

}

li a {
    text-decoration: none;
    color: rgb(123, 67, 176)
    
    
}

/* Footer part*/

.disp-aside{
    display: flex;
    align-items: center;
    justify-content: center;
    outline-style:dotted;
    border-radius: 30px;
    padding: 3px

}


footer {
    
    color: #d9d9d9;
    background-color: #2e3230;
    width: 100%;
    padding: 1px;
    border-radius: 15px 0px 15px 0px
    
    
        
}
footer a{
    color: #eee
}



